@import '../../util/Constant/sass-variable-list.scss';

.style-guide {
  .blue--dark { background-color: $blue--dark }
  .blue--dull-dark { background-color: $blue--dull-dark }
  .blue { background-color: $blue }
  .blue--light { background-color: $blue--light }
  .blue--lightest { background-color: $blue--lightest }
  .blue-green--medium { background-color: $blue-green--medium }
  .blue-green--light { background-color: $blue-green--light }
  .blue-green--lightest { background-color: $blue-green--lightest }
  .green--dark { background-color: $green--dark }
  .green { background-color: $green }
  .green--lightest { background-color: $green--lightest }
  .green-grey { background-color: $green-grey }
  .green-grey--light { background-color: $green-grey--light }
  .red--black { background-color: $red--black }
  .red--dark { background-color: $red--dark }
  .red--medium { background-color: $red--medium }
  .red--dulled-light { background-color: $red--dulled-light }
  .red--light { background-color: $red--light }
  .red--very-light { background-color: $red--very-light }
  .red--lightest { background-color: $red--lightest }
  .menu--green { background-color: $menu--green }
  .menu--green-hover { background-color: $menu--green-hover }
  .orange--light { background-color: $orange--light }
  .orange { background-color: $orange }
  .orange--dark { background-color: $orange--dark }
  .black { background-color: $black }
  .grey--black { background-color: $grey--black }
  .grey--dark { background-color: $grey--dark }
  .grey--dull-dark { background-color: $grey--dull-dark }
  .grey--medium { background-color: $grey--medium }
  .grey--light { background-color: $grey--light }
  .grey--very-light { background-color: $grey--very-light }
  .grey--lightest { background-color: $grey--lightest }
  .grey--white { background-color: $grey--white }

  .font--small-light { font-size: $font-size--small; font-weight: $font-weight--light }
  .font--medium-small-light { font-size: $font-size--medium-small; font-weight: $font-weight--light }
  .font--medium-light { font-size: $font-size--medium; font-weight: $font-weight--light }
  .font--medium-large-light { font-size: $font-size--medium-large; font-weight: $font-weight--light }
  .font--large-light { font-size: $font-size--large; font-weight: $font-weight--light }

  .font--small-regular { font-size: $font-size--small; font-weight: $font-weight--regular }
  .font--medium-small-regular { font-size: $font-size--medium-small; font-weight: $font-weight--regular }
  .font--medium-regular { font-size: $font-size--medium; font-weight: $font-weight--regular }
  .font--medium-large-regular { font-size: $font-size--medium-large; font-weight: $font-weight--regular }
  .font--large-regular { font-size: $font-size--large; font-weight: $font-weight--regular }

  .font--small-bold { font-size: $font-size--small; font-weight: $font-weight--bold }
  .font--medium-small-bold { font-size: $font-size--medium-small; font-weight: $font-weight--bold }
  .font--medium-bold { font-size: $font-size--medium; font-weight: $font-weight--bold }
  .font--medium-large-bold { font-size: $font-size--medium-large; font-weight: $font-weight--bold }
  .font--large-bold { font-size: $font-size--large; font-weight: $font-weight--bold }

  .font--small-black { font-size: $font-size--small; font-weight: $font-weight--black }
  .font--medium-small-black { font-size: $font-size--medium-small; font-weight: $font-weight--black }
  .font--medium-black { font-size: $font-size--medium; font-weight: $font-weight--black }
  .font--medium-large-black { font-size: $font-size--medium-large; font-weight: $font-weight--black }
  .font--large-black { font-size: $font-size--large; font-weight: $font-weight--black }

  .spacing--narrowest { margin: $spacing--narrowest }
  .spacing--narrow { margin: $spacing--narrow }
  .spacing--wide { margin: $spacing--wide }

  .padding--tiniest { padding: $padding--tiniest }
  .padding--small-tiny { padding: $padding--small-tiny }
  .padding--small { padding: $padding--small }
  .padding--medium { padding: $padding--medium }
  .padding--medium-large { padding: $padding--medium-large }
  .padding--large { padding: $padding--large }
  .padding--very-large { padding: $padding--very-large }

  .z-index--background-guaranteed { z-index: $z-index--background-guaranteed }
  .z-index--step-right-back { z-index: $z-index--step-right-back }
  .z-index--step-back { z-index: $z-index--step-back }
  .z-index--neutral { z-index: $z-index--neutral }
  .z-index--step-forward { z-index: $z-index--step-forward }
  .z-index--step-right-forward { z-index: $z-index--step-right-forward }
  .z-index--front-guaranteed { z-index: $z-index--front-guaranteed }
  .z-index--menu-guaranteed { z-index: $z-index--menu-guaranteed }
}
